
<% exceeds_limit = current_room_exceeds_limit(@room)%>
<% if exceeds_limit%>
  <div class="alert alert-danger alert-dismissible text-center mb-0">
    <%= t("room.room_limit_exceeded", difference: @diff) %>
  </div>
<% end %>
<div class="background pb-1">
  <div class="container">
    <div class="row pt-7 pt-sm-9">
      <div class="col-lg-8 col-sm-12">
        <div id="room-title" class="display-3 form-inline <%= 'edit_hover_class' if current_user.main_room != @room %>" data-path="<%= update_settings_path(@room) %>">
          <% if current_user.main_room == @room %>
            <h1 contenteditable=false id="user-text" class="display-3 text-left mb-3 font-weight-400"><%= @room.name %></h1>
            <a class="disable-click"><i class="fas fa-home align-top home-indicator ml-2"></i></a>
          <% else %>
            <h1 contenteditable=false id="user-text" class="display-3 text-left mb-3 font-weight-400"><%= @room.name %></h1>
            <a><i id="edit-room" class="fa fa-edit align-top home-indicator ml-2" data-edit-room="<%= @room.uid %>"></i></a>
          <% end %>
        </div>
        <h4 class="text-left mb-6">GEDAR: <%= @room[:order] %></h4>
      </div>
      <div class="offset-lg-1 col-lg-3 col-sm-12 force-bottom mt-5">
        <% if @room_running %>
          <%= button_to t("room.join"), room_path(@room), class: "btn btn-primary btn-block px-7 start-button float-right", "data-disable": "" %>
        <% else %>
          <% unless exceeds_limit %>
            <%= button_to t("room.start"), start_room_path(@room), class: "btn btn-primary btn-block px-7 start-button float-right", "data-disable": "" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="room_block_container" class="row pt-7 pb-5">
      <% unless room_limit_exceeded %>
        <%= render "rooms/components/create_room_block"%>
      <% end %>
      <% current_user.ordered_rooms.each do |room| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <%= link_to room do %>
            <%= render "rooms/components/room_block", room: room %>
          <% end %>
        </div>
      <% end %>
            
      <% if shared_access_allowed %>
        <% current_user.shared_rooms.each do |room| %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <%= link_to room do %>
              <%= render "rooms/components/shared_room_block", room: room %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/modals/delete_room_modal" %>

<%= render "shared/modals/create_room_modal" %>

<% if shared_access_allowed %>
  <%= render "shared/modals/share_room_modal" %>
  <%= render "shared/modals/remove_access_modal" %>
<% end %>